
body {
  color: #333;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
}

header {
  background-image: url(../img/as.jpg);
  background-position: center center;
  background-size: cover;
  border-radius: 5px;
  color: #ccc;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-top: 100px;
}

.float {
left: 50px;
position: fixed;
border-radius: 100px;
top: 250px;
}

@media only screen and (max-width: 1150px) {
    .float
    {
        display: none;
    }
}

h1 {
  font-family: 'Abril Fatface', serif;
}

h3:hover {
  text-shadow: 1px 1px #aaa;
}

img:hover {
  width: 250px;
  height: auto;
}

.wrap {
  margin: 0 auto;
  max-width: 40em;
}

blockquote {
  background-color: #000;
  border-radius: 5px;
  color: #ccc;
  font-size: 2em;
  font-family: 'Arbil Fatface', serif;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

ul {
  list-style-image: url(../img/rsz_2dv.jpg);
}

li:hover {
  font-weight: bolder;
}

a {
  color: green;
  text-decoration: none;
}

.gfl {
  padding-right: 60px;
}
