body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  background: #f6f6f6;
  font-family: sans-serif;
}

h1,
h2 {
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
}

.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  order: 0;
  width: 176px;
  flex: 0 0 auto;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
}

.main-header nav, .search {
  position: absolute;
}

.user-menu {
  top: 0;
  right: 0;
}

.talk-menu {
  bottom: 0;
  left: 0;
}

.edit-menu {
  bottom: 0;
  right: 300px;
}

.search {
  bottom: 0;
  right: 0;
}

.search input {
  width: 300px;
}

.main-content {
  background: #fff;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 16px;
}

.biography {
  width: 270px;
  background: #f9f9f9;
  float: right;
  border: 1px solid #aaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.main-footer {
  background: silver;``
  height: 150px;
}

.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/logo.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}
