body {
  background-color: red;
  color: black;
  display: flex;
  margin: 0;
  min-height: 100vh;
}

.main-container {
  background-color: white;
  order: 1;
  width: 100%;
  /* or flex-basis: 100% */
}

.main-sidebar {
  background-color:#f6f6f6;
  order: 0;
  width: 176px;
}

.main-header {
  height: 80px;
  background-color: #f6f6f6;
  position: relative;
}

.main-header ul {
  margin: 0 5px 0 5px;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
  margin-left: 5px;
}

.user-menu {
  right: 0px;
  top: 0px;
}

.talk-menu {
  left: 0px;
  bottom: 0px;
}

.edit-menu {
  right: 300px;
  bottom: 0px;
}

.search {
  right: 0px;
  bottom: 0px;
}

.search input {
  width: 280px;
}

.main-header nav, .search {
  position: absolute;
}
.user-menu, .talk-menu, .edit-menu {
    background-color: blue;
}

.main-footer {
  background-color: #f6f6f6;
  height: 150px;
}

main {
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  min-height: 600px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0b0080;
}

.biography {
  width: 270px;
  min-height: 300px;
  background-color: #f9f9f9;
  float: right;
  border: 1px solid #aaaaaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

aside img {
  width: 160px;
  height: auto;

}
