body {
  background-color: #f6f6f6;
  color: black;
  display: flex;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

h1, h2{
  font-family: serif;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
}

h1 {
  font-size: 28.8px;
}

.main-container {
  background-color: white;
  order: 1;
  width: 100%;
  /* or flex-basis: 100% */
}

.main-sidebar {
  background-color:#f6f6f6;
  order: 0;
  width: 176px;
}

.main-header {
  height: 80px;
  background-color: #f6f6f6;
  position: relative;
}

.main-header ul {
  margin: 0 5px 0 5px;
  padding: 0;
  display: flex;
}

.main-header li {
  list-style: none;
  margin-left: 5px;
}

.user-menu {
  right: 0px;
  top: 0px;
}

.talk-menu {
  left: 0px;
  bottom: 0px;
}

.special-menu {
  left: 0px;
  bottom: 0px;
}
.edit-menu {
  right: 300px;
  bottom: 0px;
}

.search {
  position: relative;
  right: 0px;
  bottom: -15px;
  width: 260px;
  height: auto;
}

.search-button {
  position: absolute;
  width: 30px;
  height: 30;
  right: 1px;
  bottom: 16px;
}

.user-menu, .special-menu, .edit-menu, .talk-menu {
  font-size: 0.8em;
}
.search-field {
  left: 0;
  height: 22;
}

.main-header nav, .search {
  position: absolute;
}

.main-footer {
  background-color: #f6f6f6;
  height: 150px;
}

form p {
  margin-top: 0;
}

form input {
  border-radius: 2px;
  width: 100%;
  height: 2.5em;
  padding: 0 0 0 5px;
  border: 1px solid #ccc;
}

.formbutton {
  background: #00af89;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #00af89;
  width: 298px;
  height: 2.5em;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.regform {
  width: 290px;
  height: 580px;
  position: relative;
}

.help, .moreinfo {
  position: absolute;
  right: 0px;
}

.help:hover, .moreinfo:hover {
  text-decoration: underline;
}

.formbutton:hover {
  background-color: #008c6d;
}

form label {
  font-weight: bold;
}

input:focus {
  box-shadow: inset 0 0 0 2px #347bff ;
  border-color: #347bff ;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}

.formdiv {
  width: 350px;
}
a:visited {
  color: #0b0080;
}

.biography {
  width: 270px;
  min-height: 300px;
  background-color: #f9f9f9;
  float: right;
  border: 1px solid #aaaaaa;
  margin: 6px 0 12px 12px;
  padding: 25px;
  box-sizing: border-box;
}

.logo {
  display: block;
  width: 136px;
  height: 155px;
  background: url(../img/enwiki.png);
  margin: 6px auto 0;
  color: rgba(0, 0, 0, 0);
}

.main-content {
  background-color: white;
  border: 1px solid #a7d7f9;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  padding-left: 16px;
  padding-right: 16px;
  min-height: 600px;
}
