a:visited {
  color: #0b0080;
}

a:hover {
  text-decoration: underline;
}

body {
  background: linear-gradient(to bottom, #fff 50px, #f6f6f6 150px);
  color: black;
  display: flex;
  font-family: sans-serif;
  margin: 0;
  min-height: 100vh;
}

form p {
  margin-top: 0;
}

form input {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 2.5em;
  padding: 0 0 0 5px;
  width: 100%;
}

h1 {
  font-size: 28.8px;
}

h1, h2{
  border-bottom: 1px solid #aaa;
  font-family: serif;
  font-weight: normal;
  line-height: 1.4em;
  margin: 0;
  overflow: hidden;
}

table {
  font-size: 12px;
}

tbody {
  vertical-align: top;
}

td:nth-child(odd) {
  font-weight: bold;
}


.captcha {
  border: 1px solid #ccc;
  height: 180px;
  margin: 15px 0;
  position: relative;
  width: 295px;
}

.captcha-image {
  border: 1px solid #ccc;
  height: 100px;
  margin: 8px auto;
  width: 270px;
}

.captcha-input {
  margin: 0 10px 0 11px;
  width: 266px;
}

.captcha p {
  font-size: 12px;
  margin: 2px;
  text-align: center;
}


.biography p {
  margin-top: 2px;
  text-align: center;
}


.main-container {
  order: 1;
  width: 100%;
}

.main-sidebar {
  color: "#0645ad";
  font-size: 13px;
  line-height: 18px;
  order: 0;
  width: 215px;
}

.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.main-header li {
  list-style: none;
}

.user-menu {
  right: 0px;
  top: 0px;
}



.edit-menu {
  bottom: 0px;
  right: 290px;
}

.search {
  bottom: -15px;
  position: relative;
  right: 30px;
  width: 260px;
}

.search-button {
  background-color: #fff;
  border: none;
  bottom: 18px;
  color: #ccc;
  height: 18px;
  position: absolute;
  right: 1px;
  width: 30px;
}

.search-field {
  height: 22px;
  left: 0;
}

.special-menu {
  left: 0px;
  bottom: 0px;
}


.tab {
  background: linear-gradient(to bottom, #fff 0%, #a7d7f9 100%);
  padding-left: 1px;
}

.tab li {
    padding-right: 1px;
}

.tab a {
  background: linear-gradient(to bottom, #fff 0%, #e8f2f8 100%);
  bottom: -1px;
  display: block;
  padding: 15px 5px 5px 5px;
  position: relative;
}

.user-menu, .special-menu, .edit-menu, .talk-menu {
  font-size: 0.75em;
}

.user-menu a {
  display: block;
  padding: 10px 5px 5px 5px;
}

.talk-menu {
  bottom: 0px;
  left: 0px;
}

.user-status {
  background: url(http://en.wikipedia.org/static/1.27.0-wmf.6/skins/Vector/images/user-icon.png?9e7ea) no-repeat left center;
  color: grey;
  padding: 10px 5px 10px 20px;
}

.active-tab a {
  background: white;
  border-bottom: 1px solid #fff;
}


.main-header nav, .search {
  position: absolute;
}

.main-footer {
  background-color: #f6f6f6;
  height: 150px;
}

.formbutton {
  background: #00af89;
  border: 1px solid #00af89;
  border-radius: 2px;
  color: #fff;
  height: 2.5em;
  width: 298px;
}

::-webkit-input-placeholder {
  font-style: italic;
}

.regform {
  height: 580px;
  position: relative;
  width: 290px;
}

.help, .moreinfo {
  position: absolute;
  right: 0px;
}

.help:hover, .moreinfo:hover {
  text-decoration: underline;
}

.formbutton:hover {
  background-color: #008c6d;
}

form label {
  font-weight: bold;
}

input:focus {
  border-color: #347bff ;
  box-shadow: inset 0 0 0 2px #347bff;
}

.search-field:focus {
  border: 1px solid #ccc;
  box-shadow: none;
  outline: 0;
}

a {
  color: #0645ad;
  text-decoration: none;
}

.formdiv {
  width: 350px;
}

.biography, .inaction, .standing{
  background-color: #f9f9f9;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  float: right;
  margin: 6px 0 12px 12px;
  min-height: 200px;
  padding: 25px 25px 5px 25px;
  width: 270px;
}

.inaction, .standing {
  font-size: 12px;
}

.source {
  font-size: 13px;
  padding: 7px 0 0 0;
}

.blue-listing, .sidebar-list, .main-sidebar-list {
  list-style: none;
}

.blue-listing li::before {
  color: #0645ad;
  content: "\2022";
  font-size: 1.5em;
}

.main-h1 {
  padding: 20px 0 0 0;
}

.toc-content {
  border: 1px solid #bbb;
  margin: 10px 0 20px 0;
  padding: 5px;
  width: 120px;
}

.toc-content-list li {
  line-height: 1.5em;
  list-style-image: none;
}

.warning {
  padding: 0 0 0 30px;
}

.logo {
  background: url(../img/enwiki.png);
  color: rgba(0, 0, 0, 0);
  display: block;
  height: 155px;
  margin: 6px auto 0;
  width: 136px;
}

.main-content {
  background-color: #fff;
  border: 1px solid #a7d7f9;
  border-top: 1px solid #a7d7f9;
  border-left: 1px solid #a7d7f9;
  border-bottom: 1px solid #a7d7f9;
  font-size: 14px;
  line-height: 20px;
  min-height: 680px;
  padding-left: 28px;
  padding-right: 16px;
}

.sidebar-list li:first-child {
  color: #555;
  margin: 0 0 0 -20px;
}

.form-main-div {
  display: flex;
  justify-content: flex-start;
}

.main-sidebar-list {
  margin-left: -18px;
}

.main-sidebar div {
  background: linear-gradient(to right, #fff 0%, #bbb 50%, #fff 100%);
  height: 1px;
}

.login-left {
  margin: 0 0 0 40px;
}

.login-h1 {
  border-bottom: none;
  font-weight: bolder;
  margin: 40px 0 20px 0;
}
